$colorPrimary:rgb(247, 249, 250);
$colorButton: rgb(243, 200, 80);

$fontSizeBase: 16px;
$fontSizeSmall: 14px;
$fontSizeMedium: 18px;
$fontSizeLarge: 30px;

$borderRadiusSmall: 5px;
$borderRadiusMedium: 10px;
$borderRadiusLarge: 15px;
$borderRadiusXlarge: 20px;