/* ----ABOUT US PAGE----*/

@use "../utilities/variables" as *;
@use "../utilities/extends" as *;
@use "../utilities/mixins" as *;

.about-hero {
    @include flexAvanzado(flex,space-between);
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    @include flexAvanzado(flex,center);
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
    max-width: 600px;
    width: 50%;
}

.title-about{
    margin-left: 1.3rem;
    margin-bottom: 0rem;
}

.about-paragraph{
    max-width: 600px;
}

.about-btn{
    margin-left: 2rem;
}

.about-image {
    @include flexAvanzado(flex,center);
    flex: 1;
    flex-direction: row;
    width: 50%;
    align-items: center;
    max-width: 500px;
    overflow: hidden;

    img{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: $borderRadiusMedium;
    }
}


.about-section{
    @include flexAvanzado(flex,space-between);
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


.second-image{
        flex: 1; /* La imagen ocupa 1 parte del espacio */
        @include flexAvanzado(flex,flex-start);
}


.about-content-second{
    @include flexAvanzado(flex,center);
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
    max-width: 48%;
    width: 50%;
    padding: 1rem;
}